@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 25px 0;
    font-family: 'Poppins', sans-serif;

}
.logo{
    padding-top: 5px;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
.bg{
    position: absolute;
    z-index: -5;
    width: 100%;
    top: -100px;
}
nav a{
    float: right;
    width: max-content;
    margin: 0 15px;
    padding-top: 5px;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    background: #fe8464;
    padding: 5px 9px;
    height: max-content;
    width: max-content;
    border-radius: 8px;
    margin-left: 25px;
}
.welcome_block{
    text-align: center;
    padding-top: 75px;
    color: white;
}
.welcome_block h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.desc{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    font-size: 16px;

}
.btn_start{
    display: block;
    margin: 15px auto;
    background: #33c8c1;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    transition: background 0.3s linear;
}
.btn_start:hover{
    background: #119bd2;
}
.welcome_block img{
    max-width: 650px;
    margin-top: 10px;
}
.sponsors > .container img{
    display: block;
    margin: 0 auto;
    opacity: 0.75;
}
.sponsors > .container img:hover{
    opacity: 1;
}
.sponsors > .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.info{
    margin-top: 120px;
}
.title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 750px;
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.card_img{
    margin-bottom: 150px;

}
.card_img img{
    position: absolute;
    transition: transform .4s linear;
}
.card_img img:last-child{
    position: relative;
    left: 6%;
    margin-top: 20px;
}
.card:hover > .card_img img:first-child{
    transform: rotate(40deg);

}